body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 600px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
ul,
p {
    margin: 0px;
}

img {
    max-width: 100%;
    display: block;
}

.header-bg {
    background-color: #000;
}

.header {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu a {
    display: inline-block;
    padding: 16px 0px;
    color: #ffffff;
    font-size: 18px;
    position: relative;
}

.header-menu a::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    margin-top: 4px;
    position: absolute;
}

.header-menu a:hover::after {
    width: 100%;
    transition: 0.3s;
}


@media (max-width: 800px) {

    .header-menu {
        gap: 20px;
    }

    .header-menu a {
        background-color: #111;
        padding: 12px 16px;
        border-radius: 5px;
    }

    .header-menu a:hover {
        background-color: #2e2e2e;
        transition: 0.3s;
    }

    .header-menu a::after {
        display: none;
    }
}

@media(max-width: 600px) {

    .header-menu {
        gap: 12px;
    }

    .header-menu a {
        padding: 8px 12px;
        font-size: 14px;
    }

    .header-menu a::after {
        display: none;
    }
}

.introducao-bg {
    background-color: #000;
    color: #ffffff;
    box-shadow: inset 0 -120px #ffffff;
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.introducao-conteudo {
    align-self: end;
    padding-bottom: 200px;
}

.introducao img{
height: 100%;
object-fit: cover;
border-radius: 5px;
}

.introducao-conteudo h1 {
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 1.125;
}

.introducao-conteudo h1 span {
    color: #FFBB00;
}

.introducao-conteudo p {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 36px;
}

.introducao-conteudo a {
    display: inline-block;
    padding: 16px 32px;
    color: #332200;
    background: linear-gradient(#FFBF00, #F2A50C);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.33;
    font-weight: bold;
}

.introducao-conteudo a:hover {
    background: linear-gradient(#ffb60d, #e59317);
    transition: 0.2s;
}