@import "./global/header.css";
@import "./global/global.css";
@import "global/footer.css";
/* Utilidades */
@import "utilidades/componentes.css";
@import "utilidades/tipografia.css";
@import "utilidades/cores.css";

/* home */
@import "./home/introducao.css";
@import "home/tecnologia.css";
@import "home/parceiros.css";
@import "home/depoimento.css";

/* Bicicletas */
@import "./bicicletas/bicicletas-listas.css";
@import "bicicletas/bicicletas.css";

/* Seguros */
@import "securos/seguros.css";
@import "securos/vantagens.css";
@import "securos/perguntas.css";
/* Termos */
@import "termos/termos.css";