@import "./global/header.css";
@import "./global/global.css";

/* Utilidades */
@import "utilidades/componentes.css";
@import "utilidades/tipografia.css";
@import "utilidades/cores.css";
/* home */
@import "./home/introducao.css";