@charset "UTF-8";

.texto-grande{
    font-size: 64px;
    line-height: 1.125;
    font-family: 'Poppins';
    font-weight: 600;
}

.texto-medio{
    font-size: 24px;
    line-height: 36px;
    font-family: 'Roboto';
    font-weight: 400;
}