@charset "UTF-8";

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 600px;
    color: #111111;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
ul,
p {
    margin: 0px;
}

img {
    max-width: 100%;
    display: block;
}