@charset "UTF-8";


.depoimento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--cor-p1);
    overflow: hidden;
}

.depoimento img {
    border-radius: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.depoimento-conteudo {
    padding: 40px 40px 80px 80px;
    align-self: end;
    background: url(../../img/dec/bottom-right-p.svg) no-repeat bottom 40px right 40px;
}

.depoimento-conteudo p {
    font-family: Merriweather, serif;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 32px;
    max-width: 32ch;
    position: relative;
}

.depoimento p::before {
    content: '“';
    font-size: 5rem;
    color: var(--cor-p2);
    position: absolute;
    top: -60px;
    left: -50px;
}

.depoimento p::after {
    content: '”';
    font-size: 5rem;
    color: var(--cor-p2);
    position: absolute;
    bottom: -60px;
}
@media (min-width: 1200px) {
    .depoimento img{
        max-height: 520px;
    }
}

@media (max-width: 800px) {


    .depoimento {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .depoimento p {
        max-height: 200px;
    }

    .depoimento p::before {
        left: -30px;
        top: -27px;
    }

    .depoimento p::after {
        bottom: -70px;
    }

    .depoimento-conteudo {
        padding: 40px 20px;
        margin: auto;
    }

    .depoimento p::before,
    .depoimento p::after {
        font-size: 3rem;
    }
}

@media (max-width: 600px) {

    .depoimento-conteudo {
        padding: 25px 20px;
    }

    .depoimento-conteudo p {
        margin-bottom: 10px;
    }

    .depoimento-conteudo blockquote {
        font-size: 1.2rem;
        line-height: 2;
    }

    .depoimento p::after{
        bottom: -30px;
    }

}

@media (max-width: 500px) {

    .depoimento-conteudo {
        padding: 25px 20px;
    }

    .depoimento-conteudo blockquote {
        font-size: 1rem;
        line-height: 1.75;
        font-weight: 400;
    }

    .depoimento p::before,
    .depoimento p::after {
        font-size: 2rem;
    }

    .depoimento-conteudo span{
        font-size: 1rem;
    }

    .depoimento p::before{
        left: -18px;
        top: -14px;
    }

    .depoimento p::after{
        bottom: -20px;
    }
}