@charset "UTF-8";


.depoimento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--cor-p1);
    overflow: hidden;
}

.depoimento img {
    border-radius: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.depoimento-conteudo {
    padding: 40px 40px 80px 80px;
    align-self: end;
}

.depoimento-conteudo p {
    font-family: Merriweather, serif;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 32px;
    max-width: 32ch;
    position: relative;
}

.depoimento p::before {
    content: '“';
    font-size: 5rem;
    color: var(--cor-p2);
    position: absolute;
    top: -60px;
    left: -50px;
}

.depoimento p::after {
    content: '”';
    font-size: 5rem;
    color: var(--cor-p2);
    position: absolute;
    bottom: -60px;
}

@media (max-width: 800px) {


    .depoimento {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .depoimento p{
        max-height: 200px;
    }
    
    .depoimento p::after {
        bottom: -110px;
    }


    .depoimento-conteudo{
        padding: 40px 20px;
        margin: auto;
    }
}