@charset "UTF-8";

.introducao-bg {
    background-color: var(--cor-12);
    box-shadow: inset 0 -120px var(--cor-0);
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.introducao-conteudo {
    align-self: end;
    padding-bottom: 200px;
}

.introducao img {
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.introducao-conteudo h1 {
    margin-bottom: 32px;
}


.introducao-conteudo p {
    margin-bottom: 20px;
}


@media (max-width:1200px) {

    .introducao-conteudo h1 {
        font-size: 48px;
    }

    .introducao-conteudo P {
        font-size: 18px;
    }
}

@media (max-width:800px) {

    .introducao-bg {
        background-color: var(--cor-11);
        padding-top: 40px;
        box-shadow: inset 0 -60px var(--cor-0);
    }

    .introducao {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .introducao-conteudo {
        padding-bottom: 0px;
    }

    .introducao-conteudo h1 {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .introducao img {
        height: 300px;
        width: 100%;
    }
}