@charset "UTF-8";

.tecnologia-bg {
    background-color: var(--cor-11);
    box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0);
}

.tecnologia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.tecnologia-conteudo {
    padding-top: 160px;
    padding-bottom: 160px;
}

.tecnologia-conteudo>span {
    margin-bottom: 20px;
    display: block;
}

.tecnologia-conteudo h2 {
    margin-bottom: 20px;
}

.tecnologia-conteudo>p {
    margin-bottom: 20px;
}

.tecnologia a {
    margin-bottom: 80px;
}

.tecnologia-vantagens {
    display: flex;
    gap: 40px;
}

.tecnologia-vantagens h3 {
    margin-bottom: 8px;
}


.tecnologia-vantagens h3{
    margin-bottom: 8px;
    width: max-content;
    }

    .tecnologia-vantagens img{
        width: 24px;
        margin-bottom: 8px;
}



.tecnologia-imagem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
}